.xue {
	position: absolute;
	background: url(../img/snow.png);
	background-size: 100% 100%;
	margin: auto;
	opacity: 0.5;
	/* 雪的样式 */
}

#hua {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* 画布 所有的雪花都花在这里 */
}
